<h1>Log your time faster</h1>
<p>This app assumes all items entered are billable.</p>
<h3>Select project</h3>
<select ng-options="projects as projects.name for projects in projects track by projects.id" ng-model="item" ng-change="getTasks(item)"></select>


<!--<select ng-options="tasks as tasks.content for tasks in tasks track by tasks.id" ng-model="taskItems" ng-change="showTime(taskItems)" ng-show="tasks"></select>-->
<p ng-show="tasks">
    <table>
        <thead ng-show="tasks">
        <th>Task List Item</th>
        <th>Task Name</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
        </thead>
        <tr ng-repeat="a in tasks">
            <td>{{a['todo-list-name']}}</td>
            <td>{{a.content}}</td>
            <td><input type="number" ng-model="monObj[a.facadeId]" /></td>
            <td><input type="number" ng-model="tueObj[a.facadeId]" /></td>
            <td><input type="number" ng-model="wedObj[a.facadeId]" /></td>
            <td><input type="number" ng-model="thurObj[a.facadeId]" /></td>
            <td><input type="number" ng-model="friObj[a.facadeId]" /></td>
            <td><input type="number" ng-model="satObj[a.facadeId]" /></td>
            <td><input type="number" ng-model="sunObj[a.facadeId]" /></td>
        </tr>
</table>
<button ng-click="submitTimeForTask()" ng-show="tasks" class="btn btn-default">Submit</button>
</p>
<div growl></div>
